# COURSE NOTES

### PYTHON DATATYPES

#### What is a Program?

A program is a step-by-step procedure for performing a particular task. In simple terms, it is a set of instructions that can be understood by a computer.

In [10]:
# Calculate area of rectangle
length = 15
breadth = 20
area = length + breadth
print(f"Area is {area}")

Area is 35

In [7]:
prices = [10,7,5,8,6]
quantity = [1,2,3,1,1]

total = 0

for i in range(len(prices)):
    total = total + prices[i] * quantity[i]

print(f"Bill Amount {total}")

Bill Amount 53

#### VARIABLES

Variables simply given to the names given to the data operations are to be performed on in our program.

- Declaration
- Initialisation

![Variables](/home/dnti/dartisan/tutorials/python/images/variables.png)

- Memory Allocation
Variable name is the name given to the memory location which holds the data we store.
The variable name is a reference to the data.

![Variables](/home/dnti/dartisan/tutorials/python/images/variables2.png)

- Types of Data

![Variables](/home/dnti/dartisan/tutorials/python/images/variables3.png)

- Multiple Declarations
name, price, qty = 'Soap', 12.75, 5

![Variables](/home/dnti/dartisan/tutorials/python/images/variables4.png)


![Variables](/home/dnti/dartisan/tutorials/python/images/variables5.png)

This can also be written as a = b = c = 1

In [11]:
length = 15
print(length)

15

In [12]:
prices = [10,7,5,8,6]
print(prices)

[10, 7, 5, 8, 6]

In [13]:
name, price, qty = 'Soap', 12.75, 5
print(name, price, qty)

Soap 12.75 5

In [15]:
a, b, c= 1, 1, 1
print(id(a), id(b), id(c)) # This demonstrates the values of all three variables refer to the same memory location.

140351598477552 140351598477552 140351598477552

In [17]:
a = b = c = 1 
print(a, b, c)

1 1 1

#### Dynamic Typing

In [18]:
a = 15
print(type(a))

<class 'int'>

In [19]:
a = 12.75
print(type(a))

<class 'float'>

In [21]:
a = 'John'
print(type(a))

<class 'str'>

In [22]:
a = [10, 15, 28, 4]
print(type(a))

<class 'list'>

#### Rules for Variable Names

In [24]:
prod_id = 153
print(prod_id)

153

In [25]:
a1 = 10
abc123mnp = 10
abc_def = 15

In [26]:
False = 'No'

SyntaxError: cannot assign to False (2938207615.py, line 1)

In [28]:
#  Python is case sensitive. Something like this is allowed, but not recommended.
false = 'No'

#### Data Types

- Numberic
- Sequence 
    - List
    - Tuple
    - String
- Set
- Dictionary

In [29]:
x = 101
y = 1234567890123456

In [40]:
import sys
sys.getsizeof(x) #bytes

28

In [41]:
import sys
sys.getsizeof(y) #bytes

32

##### Integers

In [48]:
# Integers are immutable. When you store an integer in a variable and later assign a different interger, python 
# simply points to the variable to the new memory location of the new integer and garbage collects the old.
num1 = 101
id(num1)

140351598480752

In [ ]:
# you cannot modify the same thing. you can only create a new one.
num1 = 205
id(num1)

140351598484080

##### Floating Point Representation

In [51]:
a = 29.75
b = -1.75
c = -2.5E2
d = -3.1e-2

print(a, b, c , d)

29.75 -1.75 -250.0 -0.031

##### Boolean

- Used for writing conditional statements

In [58]:
x = True
y = False
print(x,y)

True False

In [62]:
int(x)
type(x)

bool

In [61]:
int(y)

0

In [63]:
a = 10
b = 5

a > b

True

##### Complex

In [65]:
c = 10 + 5j
print(c)

(10+5j)

In [66]:
c = complex(5, 3.1)
print(c)

(5+3.1j)

In [68]:
c = complex(10)
print(c)

(10+0j)

Literals are also known as constants. These are the direct values used or declared in your program

In [1]:
a = 201
b = 13_52_46_198

print(a, b)

201 135246198

In [2]:
c = 358_

SyntaxError: invalid decimal literal (1940292144.py, line 1)

In [ ]:
# d = _125

NameError: name '_125' is not defined

In [5]:
a = 9.75
b = 15.0

In [6]:
c = 12E2
d = 12.5e-2
print(c, d)

1200.0 0.125

In [7]:
e = 12_5.6_7

In [36]:
f = 5_._9

SyntaxError: invalid decimal literal (1522077941.py, line 1)

Boolean Literals

In [9]:
a = True
b = False

Complex Literals

In [11]:
a = 4 + 5j
b = 1_2 + 1_3j
c = 1.5_2 + 1.3j
print(a, b, c)

(4+5j) (12+13j) (1.52+1.3j)

String Literals

In [15]:
name = 'John'
name1 = "John"
name2 = '"John"'
name3 = '''John'''
name4 = """John"""
name5 = '''"John"'''
print(name, name1, name2, name3, name4, name5)

John John "John" John John "John"

Integer Literals

Number Systems
1. Decimal
2. Binary
3. Octal
4. HexaDecimals

In [17]:
decimal_num = 255       # Decimal literal
binary_num = 0b11111111 # Binary literal
octal_num = 0o377       # Octal literal
hex_num = 0xFF          # Hexadecimal literal

print(decimal_num, binary_num, octal_num, hex_num)

255 255 255 255

![Variables](/home/dnti/dartisan/tutorials/python/images/base_conversion.png)

In [19]:
print(bin(10))  # Convert decimal to binary
print(oct(10))  # Convert decimal to octal
print(hex(10))  # Convert decimal to hexadecimal

0b1010
0o12
0xa

In [24]:
s1 = bin(20)  # Convert decimal to binary
s2 = oct(20)  # Convert decimal to octal
s3 = hex(20)  # Convert decimal to hexadecimal
print(s1, s2, s3)

print(type(s1))

# Base conversion functions (bin, oct, hex) return strings
isinstance(s1, str) and isinstance(s2, str) and isinstance(s3, str)

0b10100 0o24 0x14
<class 'str'>

True

In [25]:
# Base conversion functions (bin, oct, hex) can convert boolean values (True, False) to their integer equivalents
# True is treated as 1 and False is treated as 0
print(bin(True))  # Output: '0b1'
print(oct(False)) # Output: '0o0'
print(hex(True))  # Output: '0x1'

# However, base conversion functions cannot convert float values and will raise a TypeError
try:
    print(bin(3.14))  # This will raise a TypeError
except TypeError as e:
    print(f"Error: {e}")

0b1
0o0
0x1
Error: 'float' object cannot be interpreted as an integer

TYPE CONVERSION

In [2]:
num = 88.54
print(int(num))  # Convert float to int

88

In [1]:
b = True
print(int(b))  # Output: 1

1

In [3]:
print(int('125'))
print(int('0b1111', 2))  # Binary to decimal    
print(int('0o177', 8))  # Octal to decimal
print(int('0xFF', 16))  # Hexadecimal to decimal

125
15
127
255

In [4]:
print(int('Alexa'))

ValueError: invalid literal for int() with base 10: 'Alexa'

In [5]:
print(int(2+4j))

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [6]:
i = 125
b = True
s = '12.75'
print(float(i))  # Convert int to float
print(float(b))  # Convert bool to float
print(float(s))  # Convert string to float

125.0
1.0
12.75

In [8]:
print(bool(0))  # Output: False
print(bool(1))  # Output: True
print(bool(-1.2E-3))  # Output: True
print(bool(''))  # Output: False
print(bool())  # Output: False

False
True
True
False
False

In [9]:
print(complex(10))  # Output: (10+0j)
print(complex(10, 5))  # Output: (10+5j)

(10+0j)
(10+5j)

Type Conversion

In [2]:
print(str(10))  # Convert int to string
print(str(-12))
str(-12)

10
-12

'-12'

In [3]:
a = 20
x = oct(a)
print(x)

0o24

Operators

In [6]:
a = 14
b = 4

Expressions