# COURSE NOTES

### PYTHON DATATYPES

#### What is a Program?

A program is a step-by-step procedure for performing a particular task. In simple terms, it is a set of instructions that can be understood by a computer.

In [18]:
# Calculate area of rectangle
length = 15
breadth = 20
area = length + breadth
print(f"Area is {area}")

Area is 35

In [19]:
prices = [10,7,5,8,6]
quantity = [1,2,3,1,1]

total = 0

for i in range(len(prices)):
    total = total + prices[i] * quantity[i]

print(f"Bill Amount {total}")

Bill Amount 53

#### VARIABLES

Variables can refer to the names given to the data operations are to be performed on in our program.

- Declaration
- Initialisation

![Variables](/home/dnti/dartisan/tutorials/python/images/variables.png)

- Memory Allocation
Variables are named containers that hold data values in a program.
The variable name is a reference to the data.

![Variables](/home/dnti/dartisan/tutorials/python/images/variables2.png)

- Types of Data

![Variables](/home/dnti/dartisan/tutorials/python/images/variables3.png)

- Multiple Declarations
name, price, qty = 'Soap', 12.75, 5

![Variables](/home/dnti/dartisan/tutorials/python/images/variables4.png)


![Variables](/home/dnti/dartisan/tutorials/python/images/variables5.png)

This can also be written as a = b = c = 1

In [20]:
length = 15
print(length)

15

In [21]:
prices = [10,7,5,8,6]
print(prices)

[10, 7, 5, 8, 6]

In [22]:
name, price, qty = 'Soap', 12.75, 5
print(name, price, qty)

Soap 12.75 5

In [23]:
a, b, c= 1, 1, 1
print(id(a), id(b), id(c)) # This demonstrates the values of all three variables refer to the same memory location.

140072270872816 140072270872816 140072270872816

In [24]:
a = b = c = 1 
print(a, b, c)

1 1 1

#### Dynamic Typing

In [25]:
a = 15
print(type(a))

<class 'int'>

In [26]:
a = 12.75
print(type(a))

<class 'float'>

In [27]:
a = 'John'
print(type(a))

<class 'str'>

In [28]:
a = [10, 15, 28, 4]
print(type(a))

<class 'list'>

#### Rules for Variable Names

In [29]:
prod_id = 153
print(prod_id)

153

In [30]:
a1 = 10
abc123mnp = 10
abc_def = 15

In [31]:
False = 'No'

SyntaxError: cannot assign to False (2938207615.py, line 1)

In [ ]:
#  Python is case sensitive. Something like this is allowed, but not recommended.
false = 'No'

#### Data Types

- Numberic
- Sequence 
    - List
    - Tuple
    - String
- Set
- Dictionary

In [32]:
x = 101
y = 1234567890123456

In [33]:
import sys
sys.getsizeof(x) #bytes

28

In [34]:
import sys
sys.getsizeof(y) #bytes

32

##### Integers

In [ ]:
# Integers are immutable. When you store an integer in a variable and later assign a different interger, python 
# simply points to the variable to the new memory location of the new integer and garbage collects the old.
num1 = 101
id(num1)

140351598480752

In [ ]:
# you cannot modify the same thing. you can only create a new one.
num1 = 205
id(num1)

140351598484080

##### Floating Point Representation

In [36]:
a = 29.75
b = -1.75
c = -2.5E2
d = -3.1e-2

print(a, b, c , d)

29.75 -1.75 -250.0 -0.031

##### Boolean

- Used for writing conditional statements

In [ ]:
x = True
y = False
print(x,y)

True False

In [ ]:
int(x)
type(x)

bool

In [ ]:
int(y)

0

In [ ]:
a = 10
b = 5

a > b

True

##### Complex

In [6]:
c = 10 + 5j
print(c)

(10+5j)

In [7]:
c = complex(5, 3.1)
print(c)

(5+3.1j)

In [8]:
c = complex(10)
print(c)

(10+0j)

Literals are also known as constants. These are the direct values used or declared in your program.

This example shows that literals **are** the actual values you see in the code:

- When you write `42`, that's literally the number 42
- When you write `"hello"`, that's literally the text "hello"
- When you write `True`, that's literally the boolean value True

Variables like `user_name` or `total_items` are just names that **point to** or **store** values. But literals like `25`, `"Alice"`, or `True` **are** the values themselves - there's no indirection or reference involved.

Think of it this way: literals are like writing the actual thing, while variables are like writing a label that points to the thing.

In [37]:
a = 201
b = 13_52_46_198 #creates a single integer: 135246198    
c = 13,52,46,198 # would create a tuple with four separate numbers: (13, 52, 46, 198)                                                                                                                                                        

print(a, b, c)

201 135246198 (13, 52, 46, 198)

In [10]:
c = 358_

SyntaxError: invalid decimal literal (1940292144.py, line 1)

In [ ]:
# d = _125

NameError: name '_125' is not defined

In [ ]:
a = 9.75
b = 15.0

In [ ]:
c = 12E2
d = 12.5e-2
print(c, d)

1200.0 0.125

In [ ]:
e = 12_5.6_7

In [ ]:
f = 5_._9

SyntaxError: invalid decimal literal (1522077941.py, line 1)

Boolean Literals

In [ ]:
a = True
b = False

Complex Literals

In [ ]:
a = 4 + 5j
b = 1_2 + 1_3j
c = 1.5_2 + 1.3j
print(a, b, c)

(4+5j) (12+13j) (1.52+1.3j)

String Literals

In [ ]:
name = 'John'
name1 = "John"
name2 = '"John"'
name3 = '''John'''
name4 = """John"""
name5 = '''"John"'''
print(name, name1, name2, name3, name4, name5)

John John "John" John John "John"

Integer Literals

Number Systems
1. Decimal
2. Binary
3. Octal
4. HexaDecimals

In [ ]:
decimal_num = 255       # Decimal literal
binary_num = 0b11111111 # Binary literal
octal_num = 0o377       # Octal literal
hex_num = 0xFF          # Hexadecimal literal

print(decimal_num, binary_num, octal_num, hex_num)

255 255 255 255

![Variables](/home/dnti/dartisan/tutorials/python/images/base_conversion.png)

In [ ]:
print(bin(10))  # Convert decimal to binary
print(oct(10))  # Convert decimal to octal
print(hex(10))  # Convert decimal to hexadecimal

0b1010
0o12
0xa

In [ ]:
s1 = bin(20)  # Convert decimal to binary
s2 = oct(20)  # Convert decimal to octal
s3 = hex(20)  # Convert decimal to hexadecimal
print(s1, s2, s3)

print(type(s1))

# Base conversion functions (bin, oct, hex) return strings
isinstance(s1, str) and isinstance(s2, str) and isinstance(s3, str)

0b10100 0o24 0x14
<class 'str'>

True

In [ ]:
# Base conversion functions (bin, oct, hex) can convert boolean values (True, False) to their integer equivalents
# True is treated as 1 and False is treated as 0
print(bin(True))  # Output: '0b1'
print(oct(False)) # Output: '0o0'
print(hex(True))  # Output: '0x1'

# However, base conversion functions cannot convert float values and will raise a TypeError
try:
    print(bin(3.14))  # This will raise a TypeError
except TypeError as e:
    print(f"Error: {e}")

0b1
0o0
0x1
Error: 'float' object cannot be interpreted as an integer

TYPE CONVERSION

In [ ]:
num = 88.54
print(int(num))  # Convert float to int

88

In [ ]:
b = True
print(int(b))  # Output: 1

1

In [ ]:
print(int('125'))
print(int('0b1111', 2))  # Binary to decimal    
print(int('0o177', 8))  # Octal to decimal
print(int('0xFF', 16))  # Hexadecimal to decimal

125
15
127
255

In [ ]:
print(int('Alexa'))

ValueError: invalid literal for int() with base 10: 'Alexa'

In [ ]:
print(int(2+4j))

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [ ]:
i = 125
b = True
s = '12.75'
print(float(i))  # Convert int to float
print(float(b))  # Convert bool to float
print(float(s))  # Convert string to float

125.0
1.0
12.75

In [ ]:
print(bool(0))  # Output: False
print(bool(1))  # Output: True
print(bool(-1.2E-3))  # Output: True
print(bool(''))  # Output: False
print(bool())  # Output: False

False
True
True
False
False

In [ ]:
print(complex(10))  # Output: (10+0j)
print(complex(10, 5))  # Output: (10+5j)

(10+0j)
(10+5j)

Type Conversion

In [ ]:
print(str(10))  # Convert int to string
print(str(-12))
str(-12)

10
-12

'-12'

In [ ]:
a = 20
x = oct(a)
print(x)

0o24

Operators

In [ ]:
a = 14
b = 4

Expressions

In [ ]:
# Find the area of a rectange

length = int(input("Enter the length: "))
breadth = int(input("Enter the breadth: "))
area = length * breadth

print(f"The area of the rectangle is {area}")

The area of the rectangle is 1000

In [39]:
import math
# Area of circle
radius = int(input("Enter the radius of the circle: "))
area = math.pi * (radius ** 2)

print(f"The area of the circle is {area}")

The area of the circle is 28.274333882308138

In [ ]:
# Area of Triangle

base = int(input("Enter the base of the triangle: "))
height = int(input("Enter the height of the triangle: "))

area = 0.5 * base * height
print(f"The area of the triangle is {area}")

The area of the triangle is 25.0

In [ ]:
# Area of Trapezium

base_1 = int(input("Enter the 1st base: "))
base_2 = int(input("Enter the 2nd base: "))
height = int(input("Enter the height: "))

area = 0.5 * (base_1 + base_2) * height
print(f"The area of the trapezium is {area}")

The area of the trapezium is 35.0

In [ ]:
# Convert Km to Miles

num_in_km = int(input("Enter the number in kilometres: "))

num_in_miles = num_in_km * 0.621371
print(f"{num_in_km} kilometres is equal to {num_in_miles} miles")

50 kilometres is equal to 31.068550000000002 miles

In [ ]:
# Convert Displacement

initial_velocity = float(input("Enter the initial velocity: "))
time = float(input("Enter the time: "))
acceleration = float(input("Enter the acceleration of the object: "))


displacement = ((initial_velocity * time) + (0.5 * (acceleration * (time ** 2))))

print("Displacement = ", displacement)

Displacement =  100.0

In [ ]:
u = 4 # Inital velocity
v = 6 # final velocity
a = 3 # acceleration

d = (v**2 - u**2) / (2 * a)

print("Displacement is:", d)

In [ ]:
# Surface Area of a Cuboid

l = 10
h = 7
b = 5

# area = (2 * (l*h)) + (2 * (l*b)) + (2 * (b*h))
area = 2 * ((l*h) + (l*b) + (b*h))

print(area)

310

Finding Roots of Quadratic Equation

In [ ]:
import math

a = 1
b = -5
c = 6

x1 = (-b + math.sqrt(b**2 - 4*a*c))/(2*a)
x2 = (-b - math.sqrt(b**2 - 4*a*c))/(2*a) 

print(f"Roots: {x1, x2}")

Roots: (3.0, 2.0)

Arithmetic Assignment

In [ ]:
a = 6 
b = 3

a += b # a = a + b
print(a)

9

In [ ]:
a = 6 
b = 3

a -= b
print(a)

3

In [ ]:
a = 6 
b = 3

a *= b
print(a)

18

In [ ]:
a = 6 
b = 3

a /= b
print(a)

2.0

In [ ]:
a = 6 
b = 3

a %= b
print(a)

0

In [ ]:
a = 2 
b = 3
c = 4

x = 10

x += (a * b - c)
print(x)

12

String Concatenation & Repetition

In [ ]:
s = 'abc'
s + '10'

'abc10'

In [ ]:
a  = 10.5 // 3.1
print(a)

3.0

In [ ]:
a = 2 
b =2
c = 3

d = a**b**c
print(d)

d = a**(b**c)
print(d)

256
256

Conditional Statements 
- Compound Conditional Statements

In [ ]:
a = 5
b = 7
c  = 3

a > b and a > c

False

In [ ]:
a > b or a > c

True

In [ ]:
a = 8
a > 0 and a < 10

True

In [ ]:
not a == 8

False

In [ ]:
x = 9

if not x == 10:
    print("True")
else:
    print("False")

True

Even or Odd

In [ ]:
num = int(input("Enter the number: "))

if num % 2 == 0:
    print(f"{num} is even")
else: 
    print(f"{num} is odd")

5 is odd

Eligible to vote

In [ ]:
age = int(input("Enter your age: "))

if age >=18:
    print("You are eligible to vote")
else:
    print("You are ineligible to vote")

You are ineligible to vote

Age Check for Work

In [ ]:
age = int(input("Enter your age: "))

if age < 18:
    print("You are too young to work here")
elif age >= 18 and age <=60:
    print("You are the perfect candidate")
else:
    print("You are too old for this")

You are too old for this

Valid Marks

In [ ]:
grade = int(input("Enter your score: "))

if grade>=0 and grade<=100:
    print("Valid")
else:
    print("Invalid")

Valid

Gender Check

In [ ]:
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")
gender = input("Enter your gender (male/female): ")

gender = gender.lower()
print(gender)

if gender == "female":
    print("Welcome to the ladies club")
else:
    print(f"Sorry, {first_name}. Only ladies are allowed in here.")

female
Welcome to the ladies club

Vowel or Consonant

In [ ]:
letter = input("Enter a character: ")
letter = letter.lower()

if letter=='a' or letter=='e' or letter=='i' or letter=='o' or letter=='u':
    print("Vowel")
else:
    print("Consonant")

Vowel

In [ ]:
vowels = ['a', 'e', 'i', 'o', 'u']

letter = input("Enter a character: ")

if letter in vowels:
    print(f"{letter} is a vowel")
else:
    print(f"{letter} is a consonant")

v is a consonant

Exam Result

In [42]:
# Subjects: maths, physics, chemistry
# Pass mark is 45

maths = int(input("Enter your score of Mathematics: "))
physics = int(input("Enter your score of Physics: "))
chemistry = int(input("Enter your score of Chemistry: "))

if 45 <= maths <= 100 and 45 <= physics <= 100 and 45 <= chemistry <= 100:
    print("Pass")
else:
    print("Fail")

Pass

Nested if and elif

In [ ]:
temp = float(input("Enter Temperature: "))

if temp == 25:
    print("Normal")
elif temp < 25:
    print("Cold")
else: 
    print("Warm")

Cold

Challenge: Generate Discounted Bill

In [ ]:
amount = int(input("What is the total amount: "))
print("Original Amount:",amount)

if amount < 1000:
    print("You qualify for a 10% discount: ")
    print(f"You get £{amount * 0.1:.2f} off!")
    total = amount - amount*0.1 
elif amount>=1000 and amount <5000:
    print("You qualify for a 15% discount: ")
    print(f"You get £{amount * 0.15:.2f} off!")
    total = amount - amount*0.15
elif amount>=5000 and amount <10000:
    print("You qualify for a 20% discount: ")
    print(f"You get £{amount * 0.20:.2f} off!")
    total = amount - amount*0.20    
else:
    print("You qualify for a 25% discount: ")
    print(f"You get £{amount * 0.25:.2f} off!")  
    total = amount - amount*0.25
print("Pay", total)

Original Amount: 999
You qualify for a 10% discount:
You get £99.90 off!
Pay 899.1

Challengs: Nested if and elif

Challenge: Day Number to Name

In [44]:
days_of_the_week = ["Sunday","Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for i in range(0, 7):
    print(f"{i+1}: {days_of_the_week[i]}")

1: Sunday
2: Monday
3: Tuesday
4: Wednesday
5: Thursday
6: Friday
7: Saturday

In [62]:
days_of_the_week = ["Sunday","Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

try:
    user_input = int(input("Enter a number (1-7) to get the day of the week: "))
    if 1 <= user_input <= 7:
        print(f"{user_input}: {days_of_the_week[user_input-1]}")
    else:
        print("Error: Please enter a number between 0 and 6.")
except ValueError:
    print("Error: Please enter a valid integer.")

Error: Please enter a number between 0 and 6.

Challenge: Month Number to Name

In [67]:
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

try:
    user_input = int(input("Enter a number (1-12) to get the month: "))
    if 1 <= user_input <= 12:
        print(f"{user_input}: {months[user_input-1]}")
    else: 
        print("Provide a valid number")
except ValueError:
    print("Provide a valid integer")

12: December

Challenge: Digit in Words

In [ ]:
words = ["zero", "one", "two", "three", "four", "five", "six", "seven", "eight", "nine"]

try:
    user_input = int(input("Enter a number (0-9) to get it in words: "))
    if 0 <= user_input <= 9:
        print(f"{user_input}: {words[user_input]}")
    else:
        print("Provide a number between 0-9")
except ValueError:
    print("Ente a valid integer")

4: four

Challenge: Leap Year Check:

**Problem:**
Write a Python program that determines if a year is a leap year or not.

**Leap Year Rules:**
1. If a year is divisible by 400 → it's a leap year
2. If a year is divisible by 100 (but not 400) → it's NOT a leap year
3. If a year is divisible by 4 (but not 100) → it's a leap year
4. Otherwise → it's NOT a leap year

**Examples to test:**
- 2000 → leap year (divisible by 400)
- 1900 → not leap year (divisible by 100, not by 400)
- 2024 → leap year (divisible by 4, not by 100)
- 2023 → not leap year (not divisible by 4)

In [74]:
year = int(input("Enter the year to determine if it's a leap year or not: "))

if year % 100 == 0:
    if year % 400 == 0:
        print(f"{year} is a leap year")
    else:
        print(f"{year} is not a leap year")    
elif year % 4 == 0:
    print(f"{year} is a leap year")
else:
    print(f"{year} is not a leap year")

2000 is a leap year

In [76]:
# Alternatively:

year = int(input("Enter a year to determine whether or not it's a leap year: "))

if year % 400 == 0:
    print(f"{year} is a leap year")
elif year % 100 == 0 and year % 400 == 0:
    print(f"{year} is a leap year")
elif year % 100 != 0 and year % 4 == 0:
    print(f"{year} is a leap year")
else:
    print(f"{year} is a not leap year")

2000 is a leap year

String Comparison

In [ ]:
# e comes before y, so e is smaller

if 'apply' > 'apple':
    print("True")
else:
    print("False")

True

In [ ]:
# due to the extra characters in catch -- ch -- it is bigger than cat

if 'cat' > 'catch':
    print("True")
else:
    print("False")

False

In [ ]:
if 'data' > 'Data':
    print("True")
else:
    print("False")

True

In [ ]:
# Numbers are smaller than alpabets

if '2nd' > 'Byte':
    print("True")
else:
    print("False")

False

In [ ]:
s1 = 'printer'
s2 = 'print'

s1 > s2

True

Short Circuit

In [77]:
5 and 10

10

In [ ]:
5 and 0

0

In [ ]:
0 and 10

0

In [ ]:
5 or 10

5

In [ ]:
0 or 10

10

Bitwise Operations

In [ ]:
a = 10
format(a, 'b')

'1010'

In [ ]:
a = 88
format(a, 'b')

'1011000'

In [ ]:
a = 88
bin(a)
a.bit_length()

7

In [ ]:
10 & 13

8

In [ ]:
format(8, 'b')

'1000'

In [ ]:
10 | 13

15

In [ ]:
format(15, 'b')

'1111'

In [ ]:
10 ^ 13

7

In [ ]:
format(7, 'b')

'111'

Chaning Comparison

In [ ]:
a = 3
b = 5
c = 7

a < b and a < c

True

In [ ]:
a < b < c

True

In [ ]:
a = b = 5
c = 7

a == b < c

True

is and is not

In [ ]:
a = "hello"
b = "hello"

print(a is a)
print(id(a))
print(id(b)) # both refer to the same data at the same memory location

True
139966985837936
139966985837936

# Loops

# while loops

In [ ]:
# While Loop

# digit of a number
n = 2546

while n > 0:  # Stops when n becomes 0
    r = n % 10 # Get the last digit: gives the remainder when dividing by 10, which is always the last digit.
    print(r)
    n = n // 10 # Remove the last digit

6
4
5
2

In [81]:
n = 2546
count = 0

while n>0:
    # r = n % 10
    n = n // 10
    count += 1
print(count)

4

In [ ]:
n = "2546"
count = 0

for i in n:
    count+=1
print(count)

4

In [ ]:
# Find Sum of Digits of a Number

num = 1346

sum = 0

while num:
    r = num % 10
    sum +=r
    num = num // 10
    
print(sum)

14

In [ ]:
# Reversing a number

n = 1257
rev = 0 # Will store the reversed number

while n > 0: # Continue while n is not 0
    r = n % 10 # Extract last digit
    rev = rev * 10 + r
    n = n // 10
print(rev)

7521

In [83]:
# Alternatively

n = 2594
reverse = ''
while n > 0:
    r = n % 10
    reverse += str(r)
    n //= 10

reverse = int(reverse) # If we need it as an integer
print(reverse)

4952

In [ ]:
# Check if a number is Palindrome 

number = int(input("Enter a number to check if it's a palindrome: "))
original_number = number
rev = 0

while number:
    r = number % 10
    rev = rev * 10 + r
    number //= 10

if (original_number == rev):
    print(f"{original_number} is a palindrome as it's reverse is {rev}")
else:
    print(f"{original_number} is not a palindrome as it's reverse is {rev}")

1331 is a palindrome as it's reverse is 1331

In [ ]:
number = int(input("Enter a number to check it it's a palindrome: "))
user_input = number

reverse = 0

while number:
    remainder = number % 10
    reverse = reverse * 10 + remainder
    number //= 10

if (user_input == reverse):
    print(f"{user_input} is a palindrome as it's reverse is {reverse}")
else:
    print(f"{user_input} isn't a palindrome as it's reverse is {reverse}")

2552 is a palindrome as it's reversed is 2552

In [ ]:
# Summation Logic
user_request = int(input("How many numbers do you want to add: "))

n = user_request 
i = 0
sum = 0

print(f"Let's proceed to add {user_request} numbers for you: ")
while i < n:
    i += 1
    numbers = int(input("Enter number and press enter: "))
    sum += numbers
print(sum)

Let's proceed to add 6 numbers for you:
36

In [33]:
# Find Max Element

n = 5
i = 0

# max = 0
# To ensure max can handle - numbers, we can use negative infinity
max = float("-inf")

# min = 0
# Min can also be initialised with the largest value possible, postive infinity
min = float("inf")

print(f"Enter five numbers and I'll tell you the maximum: ")
while i < n:
    i += 1
    num = int(input("Enter number and press enter: "))

    if num > max:
        max = num
    if num < min:
        min = num
print(f"{max} is the maxium number")
print(f"{min} is the minimum number")

Enter five numbers and I'll tell you the maximum:
545455 is the maxium number
-55 is the minimum number

In [84]:
# break statement
i = 0

while True:
    i += 1
    if i > 10:
        break
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# continue statement

i = 0

while i < 10:
    i += 1
    if i % 2 == 0: # Check if i is even
        continue # Skip to next iteration
    print(i)

1
3
5
7
9

## Detailed walkthrough:

- **i = 1:** Not even → prints 1
- **i = 2:** Even → `continue` skips `print(i)`
- **i = 3:** Not even → prints 3
- **i = 4:** Even → `continue` skips `print(i)`
- **i = 5:** Not even → prints 5
- **i = 6:** Even → `continue` skips `print(i)`
- **i = 7:** Not even → prints 7
- **i = 8:** Even → `continue` skips `print(i)`
- **i = 9:** Not even → prints 9
- **i = 10:** Loop ends (i is not < 10)

# else suite

In [88]:
# The else part will not be executed if loop terminates unsuccessfully or wasn't completed

i = 0

while i<5:
    i += 1
    if i==3:
        break
    print(i)

else:
    print("end of loop")

print("end of Program")

1
2
end of Program

# For Loop

## range function

In [ ]:
range(5)
range(1, 5)
range(6, 11)
range(0, 10, 2)

range(-5, -1)
range(-2, 3)
range(10, 5, -1)

range(0, 10, 2)

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [17]:
s1 = "python"

for x in s1:
    print(x, end = " ")

p y t h o n

## Challenges: for loops

In [36]:
# Sum of n Natural Numbers

n = 5
sum = 0

for i in range(1, n+1):
    sum += i

print(f"Sum of n: {sum}")

Sum of n: 15

In [39]:
# Factorial of n numbers

n = 5
factorial = 1

for i in range(1, n+1):
    factorial *= i

print(f"Factorial of n: {factorial}")

Factorial of n: 120

In [ ]:
# Fibonacci Series

n = 10
a=0
b=1

for i in range(0, n):
    c = a  + b 
    a = b
    b = c
print(a)

55

![Variables](/home/dnti/dartisan/tutorials/python/images/fibonacci_series.png)

In [4]:
# Factors of a number
# A factor is a number that divides another number completely without leaving a remainder.

n = int(input("Enter a number to determine it's factors: "))
factors = []

for i in range(1, n+1):
    if n % i == 0:
        factors.append(i)
print(factors)

[1, 2, 3, 4, 6, 12]

In [ ]:
# Check if Prime Number
# A prime number is a natural number greater than 1 that has no positive divisors other than 1 and itself.

n = int(input("£nter a number to determine if it's prime or not: "))
factors = []

for i in range(1, n+1):
    if n % i == 0:
        factors.append(i)
if len(factors) == 2:
    print(f"{n} is a prime number, it's factors are {factors}")
else: 
    print(f"{n} is a not a prime number, it's factors are {factors}")

2
7 is a prime number, it's factors are [1, 7]

In [9]:
# Alternative Approach
n = int(input("£nter a number to determine if it's prime or not: "))

count = 0

for i in range(1, n+1):
    if n % i == 0:
        count += 1
if count == 2:
    print(f"{n} is a prime number")
else:
    print(f"{n} is not a prime number")

12 is not a prime number

More about for Loop
- Break
- Continue
- pass

In [ ]:
# Nested for Loop

for i in range(1,4):
    for j in range(1,4):
        print(i, '-', j)

1 - 1
1 - 2
1 - 3
2 - 1
2 - 2
2 - 3
3 - 1
3 - 2
3 - 3

In [ ]:
# Nested for loops used are primarily used for matrices or 2D data

for i in range(1,4):
    for j in range(1,4):
        print(i, ',', j, end="")
    print('')

1 , 11 , 21 , 3
2 , 12 , 22 , 3
3 , 13 , 23 , 3

Challenges.
- Prime 1-100

In [30]:
n = int(input("Enter a number to determine if it's prime or not: "))


for n in range(1, 101):
    count = 0
    for i in range(1, n+1):
        if n % i == 0:
            factors.append(i)
            count += 1

    if count == 2:
        print(n, end = " ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97