# COURSE NOTES

### PYTHON DATATYPES

#### What is a Program?

A program is a step-by-step procedure for performing a particular task. In simple terms, it is a set of instructions that can be understood by a computer.

In [10]:
# Calculate area of rectangle
length = 15
breadth = 20
area = length + breadth
print(f"Area is {area}")

Area is 35

In [7]:
prices = [10,7,5,8,6]
quantity = [1,2,3,1,1]

total = 0

for i in range(len(prices)):
    total = total + prices[i] * quantity[i]

print(f"Bill Amount {total}")

Bill Amount 53

#### VARIABLES

Variables simply given to the names given to the data operations are to be performed on in our program.

- Declaration
- Initialisation

![Variables](/home/dnti/dartisan/tutorials/python/images/variables.png)

- Memory Allocation
Variable name is the name given to the memory location which holds the data we store.
The variable name is a reference to the data.

![Variables](/home/dnti/dartisan/tutorials/python/images/variables2.png)

- Types of Data

![Variables](/home/dnti/dartisan/tutorials/python/images/variables3.png)

- Multiple Declarations
name, price, qty = 'Soap', 12.75, 5

![Variables](/home/dnti/dartisan/tutorials/python/images/variables4.png)


![Variables](/home/dnti/dartisan/tutorials/python/images/variables5.png)

This can also be written as a = b = c = 1

In [11]:
length = 15
print(length)

15

In [12]:
prices = [10,7,5,8,6]
print(prices)

[10, 7, 5, 8, 6]

In [13]:
name, price, qty = 'Soap', 12.75, 5
print(name, price, qty)

Soap 12.75 5

In [15]:
a, b, c= 1, 1, 1
print(id(a), id(b), id(c)) # This demonstrates the values of all three variables refer to the same memory location.

140351598477552 140351598477552 140351598477552

In [17]:
a = b = c = 1 
print(a, b, c)

1 1 1

#### Dynamic Typing

In [18]:
a = 15
print(type(a))

<class 'int'>

In [19]:
a = 12.75
print(type(a))

<class 'float'>

In [21]:
a = 'John'
print(type(a))

<class 'str'>

In [22]:
a = [10, 15, 28, 4]
print(type(a))

<class 'list'>

#### Rules for Variable Names

In [24]:
prod_id = 153
print(prod_id)

153

In [25]:
a1 = 10
abc123mnp = 10
abc_def = 15

In [26]:
False = 'No'

SyntaxError: cannot assign to False (2938207615.py, line 1)

In [28]:
#  Python is case sensitive. Something like this is allowed, but not recommended.
false = 'No'

#### Data Types

- Numberic
- Sequence 
    - List
    - Tuple
    - String
- Set
- Dictionary

In [29]:
x = 101
y = 1234567890123456

In [40]:
import sys
sys.getsizeof(x) #bytes

28

In [41]:
import sys
sys.getsizeof(y) #bytes

32

##### Integers

In [48]:
# Integers are immutable. When you store an integer in a variable and later assign a different interger, python 
# simply points to the variable to the new memory location of the new integer and garbage collects the old.
num1 = 101
id(num1)

140351598480752

In [ ]:
# you cannot modify the same thing. you can only create a new one.
num1 = 205
id(num1)

140351598484080

##### Floating Point Representation

In [51]:
a = 29.75
b = -1.75
c = -2.5E2
d = -3.1e-2

print(a, b, c , d)

29.75 -1.75 -250.0 -0.031

##### Boolean

- Used for writing conditional statements

In [58]:
x = True
y = False
print(x,y)

True False

In [62]:
int(x)
type(x)

bool

In [61]:
int(y)

0

In [63]:
a = 10
b = 5

a > b

True

##### Complex

In [65]:
c = 10 + 5j
print(c)

(10+5j)

In [66]:
c = complex(5, 3.1)
print(c)

(5+3.1j)

In [68]:
c = complex(10)
print(c)

(10+0j)

Literals are also known as constants. These are the direct values used or declared in your program

In [1]:
a = 201
b = 13_52_46_198

print(a, b)

201 135246198

In [2]:
c = 358_

SyntaxError: invalid decimal literal (1940292144.py, line 1)

In [ ]:
# d = _125

NameError: name '_125' is not defined

In [5]:
a = 9.75
b = 15.0

In [6]:
c = 12E2
d = 12.5e-2
print(c, d)

1200.0 0.125

In [7]:
e = 12_5.6_7

In [36]:
f = 5_._9

SyntaxError: invalid decimal literal (1522077941.py, line 1)

Boolean Literals

In [9]:
a = True
b = False

Complex Literals

In [11]:
a = 4 + 5j
b = 1_2 + 1_3j
c = 1.5_2 + 1.3j
print(a, b, c)

(4+5j) (12+13j) (1.52+1.3j)

String Literals

In [15]:
name = 'John'
name1 = "John"
name2 = '"John"'
name3 = '''John'''
name4 = """John"""
name5 = '''"John"'''
print(name, name1, name2, name3, name4, name5)

John John "John" John John "John"

Integer Literals

Number Systems
1. Decimal
2. Binary
3. Octal
4. HexaDecimals

In [17]:
decimal_num = 255       # Decimal literal
binary_num = 0b11111111 # Binary literal
octal_num = 0o377       # Octal literal
hex_num = 0xFF          # Hexadecimal literal

print(decimal_num, binary_num, octal_num, hex_num)

255 255 255 255

![Variables](/home/dnti/dartisan/tutorials/python/images/base_conversion.png)

In [19]:
print(bin(10))  # Convert decimal to binary
print(oct(10))  # Convert decimal to octal
print(hex(10))  # Convert decimal to hexadecimal

0b1010
0o12
0xa

In [24]:
s1 = bin(20)  # Convert decimal to binary
s2 = oct(20)  # Convert decimal to octal
s3 = hex(20)  # Convert decimal to hexadecimal
print(s1, s2, s3)

print(type(s1))

# Base conversion functions (bin, oct, hex) return strings
isinstance(s1, str) and isinstance(s2, str) and isinstance(s3, str)

0b10100 0o24 0x14
<class 'str'>

True

In [25]:
# Base conversion functions (bin, oct, hex) can convert boolean values (True, False) to their integer equivalents
# True is treated as 1 and False is treated as 0
print(bin(True))  # Output: '0b1'
print(oct(False)) # Output: '0o0'
print(hex(True))  # Output: '0x1'

# However, base conversion functions cannot convert float values and will raise a TypeError
try:
    print(bin(3.14))  # This will raise a TypeError
except TypeError as e:
    print(f"Error: {e}")

0b1
0o0
0x1
Error: 'float' object cannot be interpreted as an integer

TYPE CONVERSION

In [2]:
num = 88.54
print(int(num))  # Convert float to int

88

In [1]:
b = True
print(int(b))  # Output: 1

1

In [3]:
print(int('125'))
print(int('0b1111', 2))  # Binary to decimal    
print(int('0o177', 8))  # Octal to decimal
print(int('0xFF', 16))  # Hexadecimal to decimal

125
15
127
255

In [4]:
print(int('Alexa'))

ValueError: invalid literal for int() with base 10: 'Alexa'

In [5]:
print(int(2+4j))

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [6]:
i = 125
b = True
s = '12.75'
print(float(i))  # Convert int to float
print(float(b))  # Convert bool to float
print(float(s))  # Convert string to float

125.0
1.0
12.75

In [8]:
print(bool(0))  # Output: False
print(bool(1))  # Output: True
print(bool(-1.2E-3))  # Output: True
print(bool(''))  # Output: False
print(bool())  # Output: False

False
True
True
False
False

In [9]:
print(complex(10))  # Output: (10+0j)
print(complex(10, 5))  # Output: (10+5j)

(10+0j)
(10+5j)

Type Conversion

In [2]:
print(str(10))  # Convert int to string
print(str(-12))
str(-12)

10
-12

'-12'

In [3]:
a = 20
x = oct(a)
print(x)

0o24

Operators

In [6]:
a = 14
b = 4

Expressions

In [8]:
# Find the area of a rectange

length = int(input("Enter the length: "))
breadth = int(input("Enter the breadth: "))
area = length * breadth

print(f"The area of the rectangle is {area}")

The area of the rectangle is 1000

In [11]:
import math
# Area of circle
radius = int(input("Enter the radius of the circle: "))
area = (math.pi * radius) ** 2

print(f"The area of the circle is {area}")

The area of the circle is 246.74011002723395

In [14]:
# Area of Triangle

base = int(input("Enter the base of the triangle: "))
height = int(input("Enter the height of the triangle: "))

area = 0.5 * base * height
print(f"The area of the triangle is {area}")

The area of the triangle is 25.0

In [15]:
# Area of Trapezium

base_1 = int(input("Enter the 1st base: "))
base_2 = int(input("Enter the 2nd base: "))
height = int(input("Enter the height: "))

area = 0.5 * (base_1 + base_2) * height
print(f"The area of the trapezium is {area}")

The area of the trapezium is 35.0

In [13]:
# Convert Km to Miles

num_in_km = int(input("Enter the number in kilometres: "))

num_in_miles = num_in_km * 0.621371
print(f"{num_in_km} kilometres is equal to {num_in_miles} miles")

50 kilometres is equal to 31.068550000000002 miles

In [23]:
# Convert Displacement

initial_velocity = float(input("Enter the initial velocity: "))
time = float(input("Enter the time: "))
acceleration = float(input("Enter the acceleration of the object: "))


displacement = ((initial_velocity * time) + (0.5 * (acceleration * (time ** 2))))

print("Displacement = ", displacement)

Displacement =  100.0

In [ ]:
u = 4 # Inital velocity
v = 6 # final velocity
a = 3 # acceleration

d = (v**2 - u**2) / (2 * a)

print("Displacement is:", d)

In [27]:
# Surface Area of a Cuboid

l = 10
h = 7
b = 5

# area = (2 * (l*h)) + (2 * (l*b)) + (2 * (b*h))
area = 2 * ((l*h) + (l*b) + (b*h))

print(area)

310

Finding Roots of Quadratic Equation

In [7]:
import math

a = 1
b = -5
c = 6

x1 = (-b + math.sqrt(b**2 - 4*a*c))/(2*a)
x2 = (-b - math.sqrt(b**2 - 4*a*c))/(2*a) 

print(f"Roots: {x1, x2}")

Roots: (3.0, 2.0)

Arithmetic Assignment

In [1]:
a = 6 
b = 3

a += b # a = a + b
print(a)

9

In [2]:
a = 6 
b = 3

a -= b
print(a)

3

In [3]:
a = 6 
b = 3

a *= b
print(a)

18

In [4]:
a = 6 
b = 3

a /= b
print(a)

2.0

In [5]:
a = 6 
b = 3

a %= b
print(a)

0

In [7]:
a = 2 
b = 3
c = 4

x = 10

x += (a * b - c)
print(x)

12

String Concatenation & Repetition

In [11]:
s = 'abc'
s + '10'

'abc10'

In [13]:
a  = 10.5 // 3.1
print(a)

3.0

In [19]:
a = 2 
b =2
c = 3

d = a**b**c
print(d)

d = a**(b**c)
print(d)

256
256

Conditional Statements 
- Compound Conditional Statements

In [21]:
a = 5
b = 7
c  = 3

a > b and a > c

False

In [22]:
a > b or a > c

True

In [23]:
a = 8
a > 0 and a < 10

True

In [24]:
not a == 8

False

In [26]:
x = 9

if not x == 10:
    print("True")
else:
    print("False")

True

Even or Odd

In [27]:
num = int(input("Enter the number: "))

if num % 2 == 0:
    print(f"{num} is even")
else: 
    print(f"{num} is odd")

5 is odd

Eligible to vote

In [28]:
age = int(input("Enter your age: "))

if age >=18:
    print("You are eligible to vote")
else:
    print("You are ineligible to vote")

You are ineligible to vote

Age Check for Work

In [36]:
age = int(input("Enter your age: "))

if age < 18:
    print("You are too young to work here")
elif age >= 18 and age <=60:
    print("You are the perfect candidate")
else:
    print("You are too old for this")

You are too old for this

Valid Marks

In [42]:
grade = int(input("Enter your score: "))

if grade>=0 and grade<=100:
    print("Valid")
else:
    print("Invalid")

Valid

Gender Check

In [45]:
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")
gender = input("Enter your gender (male/female): ")

gender = gender.lower()
print(gender)

if gender == "female":
    print("Welcome to the ladies club")
else:
    print(f"Sorry, {first_name}. Only ladies are allowed in here.")

female
Welcome to the ladies club

Vowerl or Consonant

In [60]:
letter = input("Enter a character: ")
letter = letter.lower()

if letter=='a' or letter=='e' or letter=='i' or letter=='o' or letter=='u':
    print("Vowel")
else:
    print("Consonant")

Vowel

In [52]:
vowels = ['a', 'e', 'i', 'o', 'u']

letter = input("Enter a character: ")

if letter in vowels:
    print(f"{letter} is a vowel")
else:
    print(f"{letter} is a consonant")

v is a consonant

Exam Result

In [69]:
# Subjects: maths, physics, chemistry
# Pass mark is 45

maths = int(input("Enter your score of Mathematics: "))
physics = int(input("Enter your score of Physics: "))
chemistry = int(input("Enter your score of Chemistry: "))

if (maths >= 45 and maths <=100) and (physics >= 45 and physics <=100) and (chemistry >=45 and chemistry <=100):
    print("Pass")
else:
    print("Fail")

Fail

Nested if and elif

In [73]:
temp = float(input("Enter Temperature: "))

if temp == 25:
    print("Normal")
elif temp < 25:
    print("Cold")
else: 
    print("Warm")

Cold

Challenge: Generate Discounted Bill

In [99]:
amount = int(input("What is the total amount: "))
print("Original Amount:",amount)

if amount < 1000:
    print("You qualify for a 10% discount: ")
    print(f"You get £{amount * 0.1:.2f} off!")
    total = amount - amount*0.1 
elif amount>=1000 and amount <5000:
    print("You qualify for a 15% discount: ")
    print(f"You get £{amount * 0.15:.2f} off!")
    total = amount - amount*0.15
elif amount>=5000 and amount <10000:
    print("You qualify for a 20% discount: ")
    print(f"You get £{amount * 0.20:.2f} off!")
    total = amount - amount*0.20    
else:
    print("You qualify for a 25% discount: ")
    print(f"You get £{amount * 0.25:.2f} off!")  
    total = amount - amount*0.25
print("Pay", total)

Original Amount: 999
You qualify for a 10% discount:
You get £99.90 off!
Pay 899.1

Challengs: Nested if and elif

Challenge: Day Number to Name

In [110]:
days_of_the_week = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
for i in range(0, 7):
    print(f"{i}: {days_of_the_week[i]}")

0: Monday
1: Tuesday
2: Wednesday
3: Thursday
4: Friday
5: Saturday
6: Sunday

In [119]:
days_of_the_week = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

try:
    user_input = int(input("Enter a number (0-6) to get the day of the week: "))
    if 0 <= user_input <= 6:
        print(f"{user_input}: {days_of_the_week[user_input]}")
    else:
        print("Error: Please enter a number between 0 and 6.")
except ValueError:
    print("Error: Please enter a valid integer.")

Error: Please enter a valid integer.

Challenge: Month Number to Name

In [128]:
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

try:
    user_input = int(input("Enter a number (1-12) to get the month: "))
    if 0 <= user_input <= 12:
        print(f"{user_input}: {months[user_input-1]}")
    else: 
        print("Provide a valid number")
except ValueError:
    print("Provide a valid integer")

12: December

Challenge: Digit in Words

In [139]:
words = ["zero", "one", "two", "three", "four", "five", "six", "seven", "eight", "nine"]

try:
    user_input = int(input("Enter a number (0-9) to get it in words: "))
    if 0 <= user_input <= 9:
        print(f"{user_input}: {words[user_input]}")
    else:
        print("Provide a number between 0-9")
except ValueError:
    print("Ente a valid integer")

4: four