Dictionary: Associative Data Type / Hashtable
Collection of key-value pair, separated by colon


Accessing
- Read
- Write
- Update
- Traverse

In [5]:
emp = {} # Creates empty dictionary

# Each key is associated with some value
d1 = {
    1:'One',
    2:'Two',
    3:'Three',
    4:'Four'
}

print(d1)

# Values are accessed using keys
d1[1]

{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four'}

'One'

In [6]:
d1 = {1:"One", 2:'Two', 3:'Three', 4:'Four'}
print(d1)
d1[3] = "tres" # Modify value using key
print(d1)

{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four'}
{1: 'One', 2: 'Two', 3: 'tres', 4: 'Four'}

In [7]:
# Writing or adding a new value

d1 = {1:"One", 2:'Two', 3:'Three', 4:'Four'}

d1[5] = 'Five'
print(d1)

{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five'}

In [ ]:
d1 = {1:"One", 2:'Two', 3:'Three', 4:'Four'}

for i in d1: # This prints just keys
    print(i)

1
2
3
4

In [9]:
d1 = {1:"One", 2:'Two', 3:'Three', 4:'Four'}

for i in d1: # This prints just keys
    print(i, d1[i])

1 One
2 Two
3 Three
4 Four

In [10]:
# Keys and values can be of any type
d1 = {1:3.5, 2.5:True}
print(d1)

{1: 3.5, 2.5: True}

In [11]:
d1 = {1: [10,111], 2: (4,5), 4:{1:1,2:1}}
print(d1)

{1: [10, 111], 2: (4, 5), 4: {1: 1, 2: 1}}

In [12]:
# List cannot be used as keys since it's mutable
# Only immutable (hashable) types can be used as keys
d1 = {(1,2):'h1'}
print(d1)

{(1, 2): 'h1'}

# Unhashable Key Error Explanation

This code will give an error: **"TypeError: unhashable type: 'list'"**

```python
d1 = {[1,2]:'h1'}
print(d1)
```

## What does "unhashable" mean in simple terms?

Think of dictionary keys like **labels on filing cabinets**. The label needs to be:
- **Permanent** (can't change)
- **Unique** (so you can find the right cabinet)

## Hashable vs Unhashable Types

### Hashable = can be used as a dictionary key ✓
- Numbers: `1, 2, 3`
- Strings: `"hello"`
- Tuples: `(1, 2)`

### Unhashable = cannot be used as a dictionary key ✗
- Lists: `[1, 2]`
- Dictionaries: `{"a": 1}`
- Sets: `{1, 2}`

## Why lists are unhashable

Lists can be **modified** after creation:
```python
my_list = [1, 2]
my_list.append(3)  # Now it's [1, 2, 3]
```

If you used `[1, 2]` as a key, then changed it to `[1, 2, 3]`, Python wouldn't know how to find your data anymore!

## Fix

```python
d1 = {(1, 2): 'h1'}  # Use tuple instead of list
print(d1)  # Works fine
```

## Simple Rule

Dictionary keys must be **unchangeable** (immutable) types.

In [13]:
d1 = {[1,2]:'h1'}
print(d1)

TypeError: unhashable type: 'list'

In [15]:
d2 = { 'abacus': 'a calculator', 'bachelor': 'unmarried person', 'cable': 'strong rope' }

d3 = { 101: 'John', 102: 'Smith', 103: 'Mark', 104: 'David' }

print(d2)
print(d3)

{'abacus': 'a calculator', 'bachelor': 'unmarried person', 'cable': 'strong rope'}
{101: 'John', 102: 'Smith', 103: 'Mark', 104: 'David'}

Creating a Dictionary
- Iterable Pairs
- Zip Function
- Enumerate Function

In [ ]:
d1 = {1:"One", 2:'Two', 3:'Three', 4:'Four'}

In [16]:
# We can create a dictionary from a list of tuples
d1 = dict([(1, 'One'), (2, 'Two'), (3, 'Three'), (4, 'Four')])
print(d1)

{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four'}

In [17]:
L1 = [1, 2, 3, 4]
L2 = ['One', 'Two', 'Three', 'Four']

d1 = dict(zip(L1,L2))
print(d1)

{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four'}

In [20]:
my_list = ['One', 'Two', 'Three', 'Four']
d1 = dict(enumerate(my_list))
print(d1)

{0: 'One', 1: 'Two', 2: 'Three', 3: 'Four'}

In [21]:
my_list = ['One', 'Two', 'Three', 'Four']
d1 = dict(enumerate(my_list, start=1))
print(d1)

{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four'}